#buttonList {
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 25px;
    justify-content: space-between;
    margin-top: 35px;
    margin-inline: auto;
}

/* .link-btn {
    height: 60px;
    background-color: #D9D9D9;
    border-width: 0px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
} */

.link {
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 320px;
    background-color: #D9D9D9;
    border-width: 0px;
    border-radius: 15px;
}

