.card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2em;
    width: 438px;
    min-height: 400px;
    background-color: #292b38;
    text-align: center;
    /* justify-content: center; */
    border-radius: 10px;
    position: relative;
    /* overflow: hidden; */
}

#profilePicture {
    margin-inline: auto;
    height: 120px;
    width: 120px;
    border: 5px solid transparent;
    border-radius: 50%;
    object-fit: cover;
    transition: border 0.3s ease;
}

#profilePicture:hover{
    border: 5px solid white;
}

.cardTitle {
    margin-top: 2rem;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.cardSubTitle {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 400;
}

/* animation */
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card::after, .card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 10%, purple, blue, green, yellow, orange, red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 10s spin linear infinite;
    animation-play-state: paused;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.card::before {
    filter: blur(1.5rem);
    /* opacity: 0.5; */
}

.card:hover::after,
.card:hover::before {
    opacity: 1;
    animation-play-state: running;
}

.card:hover::before{
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle :0deg;
    } to {
        --angle : 360deg;
    }
}